
.body {
    min-width: 1100px;
    margin:0;
    padding: 0;
}
.content {
    font-size: 12px;
}
.name {
    color: #1890ff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: -10px;
    border-left: 3px solid #1890ff;
    padding-left: 10px;
}
.info {
    color: #4b587c;
    line-height: 24px;
    font-size: 12px;
}
.demo_img {
    width: 360px;
    height: 200px;
}
.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
li {
    padding: 10px;
}
.github_icon {
    padding: 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px dashed #d9e1ec
}
.github_icon img {
    height: 16px;
}
.code {
    font-size: 12px;
    color: #4b587c;
    cursor: pointer;
    opacity: 0.7;
    position: relative;
    top: -4px;
    left: 7px;
}
.code:hover {
    color: #005ef6;
    opacity: 1;
}
.github_rop {
    display: inline-block;
    color: #005ef6;
    font-size: 12px;
}
.github_rop a {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    text-align: left;
}
a {
    text-decoration: none;
    color: #005ef6;
}